:root {
    --dark-purple: #16001E;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: var(--dark-purple);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 2.8rem;
    margin: 1rem 0;
    color: white;
}

.title i {
    margin: 0 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}



/* #region columns */
.col-6 {
    width: calc((100%/12)*6);
    
}

.col-3 {
    width: calc((100%/12)*3);
    
}

/* #endregion */


/* #region main */
#site_main {
    height: 100vh;
    display: flex;
    align-items: center;
}



.active-img {
    position: relative;
    height: 500px;
    
    
}




.active-img img {
    display: none;
   
}

.active-img img.active {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center right;
    border-radius: 1rem 0 0 1rem;
    

   
}

.thumbs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thumb {
    height: 80px;
    flex-grow: 1;
    position: relative;
    
}

.thumb .layover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    
}

.thumb.active .layover {
    background-color: transparent;
}

.thumb img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    
}

.next,
.prev {

    transition: scale 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    
    
}

.next i, .prev i {
    padding: 0.5rem;
    color: gainsboro;
    rotate: 90deg;
}

.next:hover i,
.prev:hover i {
    cursor: pointer;
    scale: 1.1;
}

.next {
    
    border-radius: 0 0  1rem;
}

.prev {
   
    border-radius: 0 1rem 0 0;
}



/* #endregion */